#detailHead {
	margin-top: 1em;
	span {
		margin-right: 2em;
	}
}
#tabDiv {
	margin-top: 2em;
	margin-bottom: 1em;
}
#creditTab {
	h5 {
		margin-left: 2em;
	}
}
#companyHeadInfo{
	overflow: hidden;
	.pull-left {
		margin-left: 2em;
	};
	.pull-right {
		margin-right: 2em;
	}
}
#hisTable {
	margin: 1em 2em;
	margin-bottom: 0;
	display: bolck;
	width: 95%;
	td {
		text-align: center;
	};
	th {
		text-align: center;
	}
}
.clear-line {
	border: 2px solid #345678;
	border-radius: 2px;
	clear: both;
	margin-bottom: 1em;
	margin-top: 1em;
}
#choosePeriod {
	margin-left: 2em;
	border: 1px solid black;
	padding-left: 0;
	padding-right: 0;
	div {
		border-bottom: 1px solid black;
		padding: 0.5em 1em;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
	};
	.no-bottom {
		border-bottom: none;
	};

}
#currencyVal {
	padding-top: 7px;
}